.err{
    border: 1px solid red
}
.theme-dark .err{
    border: 1px solid red
}

.theme-dark .topbar{
  background-color: #1e1e2d;
  border-radius:10px;
  color: #eee;
  font-weight: 700;

} 

.theme-dark #topBar-Content a{
  color: white;
}



.dropdown-menu li{
	position: relative;
}

.dropdown-menu .submenu{
	display: none;
	position: absolute;
} 

.dropdown-menu>li:hover>.submenu{
	display: block;
	left: 100%;
	top: -7px;
}

.categoria{
	cursor: pointer;
}
.item{
	cursor: pointer;
}


/* DRAG AND DROP VEHICULOS*/
  #sortable1, #sortable2 {
    border: 2px solid rgb(28, 19, 189);
    background-color: #2212a8;
    padding: 10px;
    border-radius: 4px;
    min-height: 350px;
    list-style-type: none;
	  min-width: 95%;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    color: white;
    background: #4525d2;
    cursor: pointer;
    font-weight: 600;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
  }
  #sortable1 li{
    border-radius: 5px;
    cursor: pointer;
    pointer-events: visibleStroke;
  }

  #sortable1 #sortable2{
	border: 1px solid black;
  }
/* DRAG AND DROP personal*/
  #sortablePersonal1, #sortablePersonal2 {
    border: 2px solid rgb(28, 19, 189);
    background-color: #2212a8;
    padding: 10px;
    border-radius: 4px;
    min-height: 350px;
    list-style-type: none;
	  min-width: 95%;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortablePersonal1 li, #sortablePersonal2 li {
    color: white;
    background: #4525d2;
    cursor: pointer;
    font-weight: 600;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
  }
  #sortablePersonal1 li{
    border-radius: 5px;
    cursor: pointer;
    pointer-events: visibleStroke;
  }

  #sortablePersonal1 #sortablePersonal2{
	border: 1px solid black;
  }

  .notSelectedProd,.selectedProd{
	border: 1px solid #eee;
	min-height: 350px;
  }


  #sortable3{
	min-width: 100%;

  }


  #sortable3,#sortable4{
	min-width: 100%;
	border: 1px solid blue;
  }
  #sortable3,#sortable4 tr{
	min-width: 100%;
	border: 1px solid rgb(71, 71, 174);
  }


  .box{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
   }

  input[type=text],input[type=number],input[type=date],textarea {
   border:1px solid gray;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;         
  }

  .form-select{
    border:1px solid gray;
  }

  .box-prod{
    max-height: 350px;
    overflow-x: hidden;
  }

  .addProdInput{
    max-width: 50px;
  }


  .dragItemsHead{
    display: flex;   
    justify-content: space-between;
    color: black;
    font-weight: 800;
  }
  .dragItemsHead p{
    width: 23%;
    background-color: blue;
    text-align: center;
    line-height: auto;
    margin-top: 8px;
    margin: 2px;
  }
  .dropItem{
    min-height: 350px;
  }

  #tableDrop td{
    width: 23%;
    height: auto;
    border: 1px solid black;
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    line-height: auto;
    cursor: pointer;
  }

  #tbodyReceive{
    min-height: 200px;
    border: 1px solid white;
  }
  
  td {
    position: relative;
    padding: 8px;
  }
  
  td::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  td:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  td::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #333;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  td:hover::after {
    opacity: 1;
    visibility: visible;
  }



  .centered-spaced{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .itemName{
    font-weight: 800;
    font-size: 20px;
    overflow: hidden;
  }
  #receiveProducto{
    min-height: 104px;
    margin-top: 20px;
  }
  .detailsProduct-box{
    border-radius: 5%;
    border:2px solid rgb(61 61 177 / 38%);
    display: flex;
  }
  .checkitem{
    margin: 0px 5px;
    display: flex;
    align-content: center;
  }

  .verticalLine{
    min-height: 100%;
    float: right;
    max-width: 1px;
    border:1px solid rgb(61 61 177 / 38%);
    margin-left: 3px;
  }
  .itemDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:4px 10px;
  }

  .containerRemoveLogo{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
  .containerRemoveLogo{
    justify-content: center;
    display: flex;
  }
  .detailQuantity{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .logoRemove{
    cursor: pointer;
  }

  .dragableItems{
    max-height: 1200px;
    overflow: scroll;
  }

  .moveProd{
    max-height: 1000px;
    overflow: scroll;
  }
  .detailsProduct-box{
    margin-bottom: 20px;
  }
  #receiveProducto{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    
  }
  .theme-dark #receiveProducto {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1e1e2d;
    
  }









